@import 'variables.scss';

.container {
    & .cart-container {
        border: 1px solid $white-color;
        width: 75%;
        height: 100%; 
        border-radius: 5px;
        box-shadow: 0px 0px 8px $light-gray-color;

        & .product-elements {
            font-weight: 600;
        
            & .product-total {
                font-weight: 700;
            }
        }

        & img {
            border-radius: 5px;
        }
    }

    & .empty-cart {
        font-weight: 400;
    }
}