@import 'variables.scss';

$font-weights:(
    'light': 200,
    'medium': 400,
    'bold': 900
);

@mixin font-family(){
    font-family: 'Work Sans', sans-serif;
}

@mixin titleStyle(){
    margin-left: 10px;
    font-weight: map-get($font-weights, 'bold');
}

@mixin bottomSectionStyle(){
    border: 1px solid $gray-background;
    border-radius: 5px;
    box-shadow: 0px 0px 5px $gray-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include font-family();
}

.navbar {
    background-color: $gray-background;
}

.promotional-products {
    @include titleStyle();
}

.product-categories {
    @include titleStyle();
}

.see-all-promotional-products {
    margin-right: 10px;
}

.see-all-categories {
    margin-right: 10px;
}

.bottom-section {
    width: 100%;
    height: 100%;
    background-color: $gray-background;
    padding-bottom: 45px;

    & .container {
        & .first-container {
            @include bottomSectionStyle();
        }

        & .second-container {
            @include bottomSectionStyle();
        }
    }
}

.card {
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        border: 1px solid $black-color;
    }
}

.newsletter-button {
    &:hover {
        cursor: pointer;
    }
}