$dark-gray-color: gray;
$light-gray-color: #DDDDDD;
$orange-color: #FFC107;
$black-color: #000000;
$white-color: #FFFFFF;

$font-weights:(
    'light': 300,
    'medium': 400,
    'bold': 500
);

@mixin font-family(){
    font-family: 'Work Sans', sans-serif;
}

@mixin titleStyle(){
    margin-left: 10px;
    font-weight: map-get($font-weights, 'bold');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include font-family();
}

.promotional-products {
    @include titleStyle();
}

.product-categories {
    @include titleStyle();
}

.see-all-promotional-products {
    margin-right: 10px;
}

.see-all-categories {
    margin-right: 10px;
}

.bottom-section {
    width: 100%;
    height: 350px;
    background-color: $light-gray-color;

    & .second-container {
        & .category {
            &:hover {
                text-decoration: underline;
            }
        }
    
        & .first-category {
            &:hover {
                text-decoration: underline;
            }
        }
    
        & .second-category {
            &:hover {
                text-decoration: underline;
            }
        }
    
        & .third-category {
            &:hover {
                text-decoration: underline;
            }
        }
    
        & .fourth-category {
            &:hover {
                text-decoration: underline;
            }
        }
    
        & .fifth-category {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    & .third-container {
        & .help {
            &:hover {
                text-decoration: underline;
            }
        }

        & .first-help {
            &:hover {
                text-decoration: underline;
            }
        }

        & .second-help {
            &:hover {
                text-decoration: underline;
            }
        }

        & .third-help {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.card {
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        border: 1px solid $black-color;
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }
}