@import 'variables.scss';

@mixin buttons(){
    background-color: $white-color;
    border: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    & img {
        margin-left: 10%;
    }
}

.titles-container {
    & .btn-description {
        @include buttons();
    }

    & .btn-shipping {
        @include buttons();
    }

    & .btn-payment {
        @include buttons();
    }

    & .active {
        text-decoration: underline;
    }
}

input {
    text-align: center;
}

.increment, .decrement {
    width: 10%;
}

.add-to-cart-button {
    width: 36%;
}

.buy-now-button {
    width: 50%;
}

.product-text {

    & p {
        margin: 0;
        text-align: justify;
    }
}

a {
    text-decoration: none;
    color: $black-color;

    &:hover {
        color: $black-color;
    }
}

.bottom-section {
    width: 100%;
    height: 350px;
    background-color: $light-gray-color;

    & .second-container {
        & .category {
            &:hover {
                text-decoration: underline;
            }
        }
    
        & .first-category {
            &:hover {
                text-decoration: underline;
            }
        }
    
        & .second-category {
            &:hover {
                text-decoration: underline;
            }
        }
    
        & .third-category {
            &:hover {
                text-decoration: underline;
            }
        }
    
        & .fourth-category {
            &:hover {
                text-decoration: underline;
            }
        }
    
        & .fifth-category {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    & .third-container {
        & .help {
            &:hover {
                text-decoration: underline;
            }
        }

        & .first-help {
            &:hover {
                text-decoration: underline;
            }
        }

        & .second-help {
            &:hover {
                text-decoration: underline;
            }
        }

        & .third-help {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.main-picture {
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
    }
}

.second-container {
    &:hover {
        cursor: pointer;
    }
}