//gray colors
$mineshaft-color: #363636;
$gray-color: #909090;
$light-gray-color: #C0C0C0;
$mercury-color: #E4E4E4;
$concrete-color: #F2F2F2;
$gray-background: #DDDDDD;

//primary colors
$black-color: #000000;
$white-color: #FFFFFF;

//brand colors
$dark-blue-color: #0C4192;
$light-blue-color: #3876E9;

//secondary colors
$green-color: #198754;
$orange-color: #FFC107;